.card_container {
	width: 637px;

	background-color: white;
	border-radius: 28px;
	height: 350px;

	display: flex;
	justify-content: center;
	align-items: flex-end;

	background-size: 120%;
	background-position: bottom;

	transition: .6s;

	&:hover {
		background-size: 100%;
	}
}

.city_info_container {
	background: rgba(19, 19, 19, 0.43);
	backdrop-filter: blur(4px);
	width: inherit;

	text-align: start;

	border-radius: 0 0 28px 28px;

	transition: .3s;

	p {
		margin-left: 3rem;
	}

	&:hover {
		background: rgba(19, 19, 19, 0.63);
	}
}

.city_name {
	font-weight: 700;
	font-size: 34px;
}

.weather_desc {
	font-weight: 300;
	font-size: 24px;
}