$hoverColor: #ff5e57;

.header_container {
	display: flex;
	justify-content: space-between;
	width: 1040px;

	a {
		font-weight: 700;
		font-size: 30px;
		color: white;
		transition: 0.3s;
		text-decoration: inherit;

		&:hover {
			color: $hoverColor;
		}
	}
}